<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922171320829-tsmarrsfie6co2pujuhkvef07unap48i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922171320829-tsmarrsfie6co2pujuhkvef07unap48i</string>
	<key>API_KEY</key>
	<string>AIzaSyDIPzlMdGgfkSLWfTtQ5CEMlXZ-d_TQveQ</string>
	<key>GCM_SENDER_ID</key>
	<string>922171320829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snoozedevs.easytipping</string>
	<key>PROJECT_ID</key>
	<string>easytipping-a7ad3</string>
	<key>STORAGE_BUCKET</key>
	<string>easytipping-a7ad3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922171320829:ios:bce554efdf415655b05194</string>
	<key>DATABASE_URL</key>
	<string>https://easytipping-a7ad3-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>